@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family:'Poppins', sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E0DEFF;
}

.container{
    /* height: 1000px; */
    width: 800px;
    background-color: #5c69ca;
    padding: 30px;
    box-shadow: 1px 1px 10px #00000052;
}

/* .container :where(.editor-panel, .save-image, .reset-image){
    opacity: ;
} */


.editor-panel{
    border: 15px solid rgba(0,0,0,0.2);
    padding: 15px;
}

.editor-panel .rotate{
    margin-top: 15px;
}

label{
    margin-top: 5px;
    display: block;
    opacity: 0.4;
}

.slider input{
    margin-top: 5px;
    width: 100%;
    accent-color: #ed7575;
}

.editor-panel .filter .options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-panel .filter .options button{
    width: calc(100%/ 2 - 3px);
    padding: 8px;
    margin-top: 6px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}

.rotate .options{
    display: flex;
}

.rotate .options button{
    width: calc(100%/ 2 - 3px);
    padding: 8px;
    margin-top: 6px;
    border-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.editor-panel .filter .options button.active{
    background-color: #ed7575;
    border-color: #ed7575;
    color: white;
}

.wrapper{
    display: flex;
}

.controls{
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
}

.controls .row {
    display: flex;
}

.controls button{
    border-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:revert;
    cursor: pointer;
}

.preview-image{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

img{
    width: 405px;
    height: 350px;
    object-fit: contain;
    text-align: center;
}

@media screen and (max-width: 760px) {

.container{
    padding: 25px;
    width: 90%;
}

.container .wrapper{
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .editor-panel{
    width: 100%;
}

.wrapper .preview-image{
    width: 100%;
    margin: 0 0 15px;
}    
}

@media screen and (max-width: 500px) {
    .controls button {
      width: 100%;
      margin-bottom: 10px;
    }
    .controls .row {
      width: 100%;
    }
    .controls .row .save-img {
      margin-left: 0px;
    }
  }
  